body{
background-color: rgba(211, 158, 0, 0.6)!important;
}


.btnLayout{
  margin-top: 25px;
  width: 50%;
}

.text{
  font-size: 20px;
  color: #000;
  font-family: Arial;
}

.col-md-6 input{
  vertical-align: middle;
}

.col-md-6 .subtitle {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 20px;
}
#tablefamily{
background-color: rgba(255,255,255, 1);
padding-bottom: 30px;
margin-bottom: 40px;
}
#tablewar{
background-color: rgba(255,255,255, 1);
padding-bottom: 30px;
}
#dateFilter{
  background-color: rgba(251, 7, 30, 0.5);
}
.icons{
  margin-left: 8px;
  margin-right: 8px;
}
